/* Start Header */
.header {
    height: 120px;
    background-image: linear-gradient(0, #ff6433, #f53e2d);
}
.header__navbar {
    display: flex;
    justify-content: space-between;
}
.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}
.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 14px;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar-item--strong {
    font-weight: 500;
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 12px;
    background-color: #fb9086;
    top: 2px;
    left: 213px;
}
.strong--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 12px;
    background-color: #fb9086;
    top: 2px;
    right: -10px;
}
.header__navbar-item-link:hover {
    color: hsla(0,0%,100%,.7);
    cursor: pointer;
}
.header__navbar-css-icon:hover,   
.header__navbar-item:hover{
    color: hsla(0,0%,100%,.7);
    cursor: pointer;
}
.header__navbar-icon {
    color: var(--white-color);
    text-decoration: none;
    padding: 10px 3px;
}
.header__navbar-css-icon {
    font-size: 17px;
}
.navbar-icon:hover {
    cursor: text;
    color:var(--white-color);
}

/* Start QR */
.header__qr {
    width: 186px;
    background-color : var(--white-color);
    position : absolute;
    left: 0;
    top: 118%;
    padding : 8px;
    border-radius: 2px;
    display: none;
}

.header__qr::before { 
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content:"";
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}
.header__navbar-icon-link:nth-child(1) {
    margin-left: 11px;
}
.header__navbar-icon-link:nth-child(2) {
    margin-left: 11px;
}
.header__qr-dowloald-icon {
    height: 15px;
}

.header__navbar-item-qr:hover .header__qr {
    display: block;
}
/* End QR */

/* Start Notify */
.header__notify {
    position: absolute;
    top: 100%;
    width: 404px;
    right: 0;
    background-color: var(--white-color);
}
.header__notify-header {

}
.header__notify-list {

}
.header__notify-item {

}
.header__notify-link {

}
.header__notify-img {

}
.header__notify-infor {

}
.header__notify-name {

}
.header__notify-descriotion {

}
/* End Notify */
/* End Header */